
.inputfield {
    border-width:1px;
    border-radius: 2px;
    border-color:black;
    background-color:white;
    border-style: solid;
    width:60%;
    height:30px;
    display:inline-block;
    margin-left:0px;
    padding: 2px;
}